@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

:root {
  --primary-red: hsl(10, 79%, 65%);
  --primary-cyan: hsl(186, 34%, 60%);
  --dark-brown: hsl(25, 47%, 15%);
  --medium-brown: hsl(28, 10%, 53%);
  --cream: hsl(27, 66%, 92%);
  --orange: hsl(33, 100%, 98%);
}

body {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  background-color: var(--cream);
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 550px;
  margin: auto;
  padding: 8px;
}

.header span {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 0.8rem 1.3rem;
  border-radius: 15px;
  color: #fff;
  background-color: var(--primary-red);
  align-items: center;
  height: 66px;
}

.header .logo {
  text-align: right;
}

.logo > img {
  width: 65px;
}

.header div > *:first-child {
  font-size: 14px;
}

.header span:last-child {
  font-weight: 700;
  margin-top: 7px;

  font-size: large;
}

.body {
  margin-top: 0.8rem;
  padding: 0.8rem 1.3rem;
  background-color: #fff;
  border-radius: 15px;
  height: 400px;
}

.body > *:first-child {
  font-weight: 700;
}

#months {
  height: 250px;
}

.month {
  background-color: var(--primary-cyan);
  display: flex;
  border: 1px solid black;
}

.expenses {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
  padding: 25px 0;
  border-top: 1px solid var(--medium-brown);
}

.expenses div {
  flex: 1;
}

.total_month_expenses > *:first-child,
.compare > *:last-child {
  color: var(--medium-brown);
  font-size: 14px;
}

.total_month_expenses > *:last-child {
  font-weight: 700;
  font-size: xx-large;
  margin-top: 6px;
}

.compare {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}

.compare > *:first-child {
  font-size: smaller;
  font-weight: bold;
  margin-bottom: 3px;
}

/* chart bar */
.bars {
  color: var(--medium-brown);
  font-size: 14px;
  height: 230px;
}

.bars li {
  display: table-cell;
  width: 74px;
  height: 230px;
  position: relative;
}

.bars span {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 2px;
  border: none;
  background: transparent;
  display: block;
  text-align: center;
}

.bars .bar {
  display: block;
  background: var(--primary-red);
  width: 50px;
  height: 200px;
  margin-left: 10px;
  position: absolute;
  bottom: 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}

.bar .tooltiptext {
  visibility: hidden;
  width: 56px;
  height: 23px;
  background-color: var(--dark-brown);
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 5px 0;
  margin-left: -3px;
  position: absolute;
  top: -50px;
  transition: visibility 0.1s ease-in-out;
}

.bar:hover .tooltiptext {
  visibility: visible;
}

.bars .bar:hover {
  opacity: 0.8;
}
